<div class="container-fluid">
  <div class="page-header">
    <h2><b>{{title}}</b></h2>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li> <a routerLink="/addProject">Add Project</a> </li>
      <li> <a routerLink="/addTask">Add Task</a> </li>
      <li> <a routerLink="/addUser">Add User</a> </li>
      <li> <a routerLink="/viewTask">View Task</a> </li>
    </ul>
  </div>
</nav>

<div class="container">
  <section>
    <router-outlet></router-outlet>
  </section>
</div>